<main>
  <form class="searchBar">
    <input value="search for a product / service">
  </form>
  <section>
    <h2>Fruits</h2>
    <div class="articles">
      
    </div>
  </section>
  <section>
    {{#each categories}}
      <a href='{{this.url}}'>{{this.name}}</a>
    {{/each}}
  </section>
  <section>
    <h2>
      <a href='/catalog/vegetables/'>Vegetables</a>
      
    </h2>
    <div class="articles">
      {{#each product_list}}
         <a href='{{this.url}}'>{{name}}</a>
      {{/each}}
    </div>
    
  </section>
  <section>
    <h2>Meat</h2>
    <div class="articles">
     
    </div>
  </section>
</main>