
 <h1>{{title}}</h1>

  <form method='Post' action="">
    <label for="name">Categorie:</label>
    <input type="text" id="name" name="name" placeholder="Vegetables, Fruits, Meats, Drinks, Sodas, Snacks..." >
    <button (type="submit")>Submit</button>
  </form>

