
 <h1>{{title}}</h1>

   <form method='Post' enctype="multipart/form-data" action="">
    <label for="name">Categorie:</label>
    <input type="text" id="name" name="name" placeholder="Vegetables, Fruits, Meats, Drinks, Sodas, Snacks..." >
    <input type="file" class="form-control-file" name="uploaded_categorie">
    <button (type="submit")>Submit</button>
  </form>

