
<main>
  <img src="/images/homeBackground.jpg">
  <h1>fefe's</h1>
</main>


{{!-- <nav>
 <ul class="mainNav">
    <li>
      <ul class="secondaryNav">
        <li>Home</li>
        <li>Story</li>
      </ul>
    </li>
   <li>Fefe's</li>
   <li>
      <ul class="secondaryNav">
        <li><input type="text"></li>
        <li>Shop</li>
        <li><img src="" alt="cart"></li>
      </ul>
    </li>
 </ul>
</nav>
 --}}
