<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/catalog.css' />
  </head>
  <body>
    <nav>
      <ul class="mainNav"> 
        <li class="menu"><img  src="/images/menu.svg" alt="juanete"></li>
        <li class="home"><a href='/'>HOME</a></li>
        <li>
          <ul class="secondaryNav">
            <li><a class="shop" href="/catalog">SHOP</a></li>
            <li><img  src="/images/libre-shop-cart.svg" alt="pepe"></li>
          </ul>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
