<main>
  <section class="productDetail">
    <article>
      <img src="/{{img_src}}" alt="not found">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <h3>${{product.price}}</h3>
      <button>Add to Cart</button>   
    </article>
  </section>
</main>
