@import 'color.scss';

//catalog 
main{
  overflow-x: scroll;
}

.searchBar{
  margin: 1.8vh auto;
  input {
    height:3rem;
    border-radius: 95vw;
    font-size:1.5rem
  }
}

.categories {

  display:flex;
  overflow-y: scroll;
  justify-content: flex-start;

  img{
    width:20vw;
    height:auto;
    border-radius:50%;
   
   
  }
  div {
    display:flex;
    flex-direction: column;
    padding: 0 5vw; 
  
    h2{
      margin: 0.5rem 0;
      text-align: center;
    }
  }
}

@media (min-width:960px) {
  .categories{
    overflow-y: unset;
    justify-content: space-around;
    
    img {
      width:10vw;
      border-radius: 15%;
    }
    h2{
      font-size:1.2rem;
    }
    
  }
  .products {
    article {
      width:20%;
    }
  }
 }

.products {
  display:flex; 
  flex-wrap: wrap;
  flex:1;
  justify-content: flex-start;
  padding-left:2.5%;

  
  
  article {
    display:flex;
    flex-direction: column;
    width:42.5%;
    margin: 2.5%;
    border: 2px solid $color_four;
    box-shadow: 2px 2px 8px  $color_four;
    border-radius: 1vh;
    align-items: center;
    justify-content: flex-end;
  }
  
  img {
    width:90%;
    height:auto;
    border-radius:4%;
    margin: 5%;
  }

  line-height: 1.7rem;

  h2 {
    font-weight: 800;
    text-align: center;
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.1  rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  button {
    background-color: $color_three;
    width:85%;
    margin: 0.5rem 0;
    align-self: center;
    font-size: 1.2rem;
    padding:0.35rem;
    border-radius: 10rem;
    font-weight: 600;
    color:white;
    border-style:none;
  }
}

a{
 text-decoration: none;
}

//Product_Detail

.productDetail {
  margin: 3vh auto 0;
  display:flex;
  width:80%;
  flex-direction: column;
  border: 2px solid $color_four;
  box-shadow: 2px 2px 8px  $color_four;
  border-radius: 1vh;

  article {
    display:flex;
    align-items:center;
    flex-direction: column;
  }
  img {
    margin: 7.5%;
    width: 85%;
    padding: auto;
    border-radius:4%;
  }

  line-height: 2.4rem;

  h2 {
    font-weight: 800;
    text-align: center;
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.1  rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  button {
    background-color: $color_three;
    width:50%;
    margin: 0.5rem 0;
    align-self: center;
    font-size: 1.2rem;
    padding:0.35rem;
    border-radius: 10rem;
    font-weight: 600;
    color:white;
    border-style:none;
    margin-bottom: 7%;
  }
}

//categorie

.title {
  text-align:center;
  color:$color_three;
  font-weight:800;
  margin: 0.5 rem 0;
  color:$color_four;
}

//forms 
 .formTitle {
   font-size:2rem;
   text-decoration: underline;
   margin: 1rem 0;
   margin-left: 5%;
 }

 form {
   display:flex;
   flex-direction: column;
   margin: 1.5rem 5% ;
   font-size: 1.5rem;
   label, input, button {
     padding:2.5%;
   }
   div {
     display:flex;
   }
   button{
     margin-top: 2rem; 
     width:60%;
     padding:1rem;
     font-size:2rem;
     background-color: white; 
   }
 }

@media (min-width:720px) {
  form {
    width:60%;  
  }
}

//deleteForm 



//admin

.adminCategories, .adminProducts {
  margin-left:5%;
  margin-top:1rem;
  h2{
    font-size:2rem; 
    text-decoration: underline;
  }
  li {
    margin: 1% 0;
    display:flex;
    margin-left: 5%;
  }
  a {
    margin-left: 5%;
  }

}
