$color_one:#dbb1bc;
$color_two:#ffcad4;
$color_three:#77867f;
$color_four:#87b37a;
$color_five:#9ce37d;

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}