/***************css reset*************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************reset ends*******************/
@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

main {
  overflow-x: scroll;
}

.searchBar {
  margin: 1.8vh auto;
}

.searchBar input {
  height: 3rem;
  border-radius: 95vw;
  font-size: 1.5rem;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.categories img {
  width: 20vw;
  height: auto;
  border-radius: 50%;
}

.categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5vw;
}

.categories div h2 {
  margin: 0.5rem 0;
  text-align: center;
}

@media (min-width: 960px) {
  .categories {
    overflow-y: unset;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .categories img {
    width: 10vw;
    border-radius: 15%;
  }
  .categories h2 {
    font-size: 1.2rem;
  }
  .products article {
    width: 20%;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 2.5%;
  line-height: 1.7rem;
}

.products article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 42.5%;
  margin: 2.5%;
  border: 2px solid #87b37a;
  -webkit-box-shadow: 2px 2px 8px #87b37a;
          box-shadow: 2px 2px 8px #87b37a;
  border-radius: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products img {
  width: 90%;
  height: auto;
  border-radius: 4%;
  margin: 5%;
}

.products h2 {
  font-weight: 800;
  text-align: center;
  font-size: 1.6rem;
}

.products p {
  font-size: 1.1  rem;
}

.products h3 {
  font-size: 1.4rem;
}

.products button {
  background-color: #77867f;
  width: 85%;
  margin: 0.5rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  padding: 0.35rem;
  border-radius: 10rem;
  font-weight: 600;
  color: white;
  border-style: none;
}

a {
  text-decoration: none;
}

.productDetail {
  margin: 3vh auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #87b37a;
  -webkit-box-shadow: 2px 2px 8px #87b37a;
          box-shadow: 2px 2px 8px #87b37a;
  border-radius: 1vh;
  line-height: 2.4rem;
}

.productDetail article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productDetail img {
  margin: 7.5%;
  width: 85%;
  padding: auto;
  border-radius: 4%;
}

.productDetail h2 {
  font-weight: 800;
  text-align: center;
  font-size: 1.6rem;
}

.productDetail p {
  font-size: 1.1  rem;
}

.productDetail h3 {
  font-size: 1.4rem;
}

.productDetail button {
  background-color: #77867f;
  width: 50%;
  margin: 0.5rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  padding: 0.35rem;
  border-radius: 10rem;
  font-weight: 600;
  color: white;
  border-style: none;
  margin-bottom: 7%;
}

.title {
  text-align: center;
  color: #77867f;
  font-weight: 800;
  margin: 0.5 rem 0;
}

.formTitle {
  font-size: 2rem;
  text-decoration: underline;
  margin: 1rem 0;
  margin-left: 5%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 5%;
  font-size: 1.5rem;
}

form label, form input, form button {
  padding: 2.5%;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form button {
  margin-top: 2rem;
  width: 60%;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
}

@media (min-width: 720px) {
  form {
    width: 60%;
  }
}

.adminCategories, .adminProducts {
  margin-left: 5%;
  margin-top: 1rem;
}

.adminCategories h2, .adminProducts h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.adminCategories li, .adminProducts li {
  margin: 1% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
}

.adminCategories a, .adminProducts a {
  margin-left: 5%;
}

/**************border-box for all elements*************/
/**https://coolors.co/dbb1bc-ffcad4-77867f-87b37a-9ce37d**/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'RobotoSlab-VariableFont_wght';
}

nav {
  display: block;
  height: 10vh;
}

nav .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #77867fde;
  padding: 0 2.5%;
}

.mainNav img {
  height: 1.85rem;
  width: auto;
  margin-top: 0.3rem;
}

.secondaryNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vh;
}

.home {
  display: none;
}

main {
  position: relative;
  height: 90vh;
}

main h1 {
  font-size: 9vh;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: -10vh;
}

.shop {
  font-weight: 800;
  font-size: 2rem;
}

.searchBar {
  margin: 10px auto;
  width: 90%;
}

.searchBar input {
  width: 100%;
}

@media (min-width: 726px) {
  .menu {
    display: none;
  }
  .home {
    display: block;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .background {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */