@import 'reset.scss';
@import 'catalog.scss';


/**************border-box for all elements*************/
/**https://coolors.co/dbb1bc-ffcad4-77867f-87b37a-9ce37d**/


$color_one:#dbb1bc;
$color_two:#ffcad4;
$color_three:#77867f;
$color_four:#87b37a;
$color_five:#9ce37d;


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family:'RobotoSlab-VariableFont_wght'
}

nav{
  display:block;
  height:10vh;
  
}
 
nav .mainNav {
  display:flex;
  width:100%;
  position:fixed;
  justify-content: space-between;
  height:10vh;
  align-items:center;   
  background-color:#77867fde;
  padding: 0 2.5%;
}

.mainNav img {
 height:1.85rem;
 width:auto;
 margin-top: 0.3rem;
}

.secondaryNav{
  display:flex; 
  height:100%;
  align-items: center;
  font-size: 4vh;
  
}

.home {
  display:none;
}

main {
 position:relative;
 height:90vh;
  h1 {
    font-size: 9vh;
    color:$color_four;
  }
}

.background {
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
    margin-top:-10vh;
  
}

.shop {
  font-weight:800;
  font-size:2rem;
}

////********************************catalog******************************///@at-root
.searchBar {
  margin: 10px auto;
  width:90%;
  input {
    width:100%;
  } 
}

@media (min-width:726px){
  .menu {
    display:none;
  }
  .home {
    display: block;
    font-weight:800;
    font-size:1.8rem; 
  }

  .background{
    display:none;
  }
}

